<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}} "
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilearn Admin</title>
</head>

<body>
    <h1>Nilearn Admin</h1>

<form method="POST" action="/admin" enctype="multipart/form-data">
    <label>Title</label>
    <input type="text" name="title">


    <label>المادة</label>
<select name="subject">
    <option value="Physics">الفيزياء</option>
    <option value="Chemistry">الكيمياء</option>
    <option value="English">اللغة الإنجليزية</option>
    <option value="History">التاريخ</option>
    <option value="Geography">الجغرافيا</option>
    <option value="Arabic">اللغة العربية</option>
    <option value="Islamic Studies">دراسات اسلامية</option>
    <option value="Islamic Education">تربية اسلامية</option>
    <option value="Engineering Sciences">علوم هندسية</option>
    <option value="Biology">احياء</option>
    <option value="Computer Science">حاسوب</option>
    <option value="Specialized Mathematics">رياضيات متخصصة</option>
    <option value="Basic Mathematics">رياضيات الاساسية</option>
</select>

<label>نوع المصدر</label>
<select name="resource_type">
    <option value="Past Paper">امتحان سابق</option>
    <option value="Book">كتاب</option>
    <option value="Notes">مذكرة</option>
    <option value="Study Guide">دليل دراسي</option>
</select>



    <label>Year</label>
    <input type="text" name="year">

    <label>Description</label>
    <textarea name="description"></textarea>

    <label>PDF</label>
    <input type="file" name="pdf">

    <button>Upload Resource</button>
</form>


</body>
</html>
