<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilearn</title>
</head>

<body>

    <header>
        <h1>Nilearn</h1>
        <nav>
            <a href="/">الرئيسية</a>
            <a href="/resources">المكتبة</a>
        </nav>
    </header>

    <main>
        <h2>مصادر دراسية لطلاب الشهادة الثانوية السودانية</h2>
        <p>كل ما يحتاجه الطالب في مكان واحد</p>

        <button><a href="/resources">تصفح المكتبة</a></button>
    </main>

</body>
</html>
