<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content=width=device-width, initial-scale=1.0>
        <title> {{resource ["title"] }} </title>
    </head>
    <body>
        <h1> {{ resource["title"]}} </h1>

        <p> المادة: {{ subject_names.get(resource["subject"], resource["subject"]) }} </p>
        <p> النوع: {{ resource_type_names.get(resource["resource_type"], resource["resource_type"] )}} </p>
        <p> السنة: {{ resource["year"] }} </p>
        <p> حجم الملف: {{ file_size }}  </p>
        <p> الوصف: {{ resource["description"] }} </p>
        <a href="/download/{{ resource["file_path"] }}" >تحميل الملف</a>

        <a href="/resources"> الرجوع الى الى المكتبة</a>
    </body>
</html>
